/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
  repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
  linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
}

@supports (font-variation-settings: normal) {
  .page {
    font-weight: 400;
  }
}

.header {
  margin-top: 100px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  inline-size: clamp(375px, 100vw, 700px);
  block-size: clamp(327px, 49vh, 368px);
  background-color: white;
}

.header__title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
}

.header + .main {
  margin-block-start: 100px;
}

.main__item-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 50px
}

.card {
  background-color: white;
  inline-size: clamp(375px, 100vw, 700px);
  border: 2px solid black;
}

.card__title {
  font-weight: 700;
  line-height: 21px;
  word-spacing: -0.3px;
  padding: 5px 10px 5px 10px;
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 25px;
}

.card__text {
  line-height: 21px;
  word-spacing: 3.695px;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 27px;
}

.card__button-group {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 12px;
  align-items: stretch;
  justify-content: end;
}

.card__button-group li {
  display: flex;
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  padding: 0 3px;
  border: 2px solid black;
}

.button {
  position: relative;
  border: 2px solid black;
  background: white;
  color: black;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 0;
  block-size: 100%;
  background: black;
  transition: inline-size 0.5s ease-in-out;
}

.button span {
  position: relative;
  mix-blend-mode: difference;
  color: white;
}

.button:hover::before {
  inline-size: 100%;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 black;
  transition: box-shadow 0.3s ease;
}

.card__image-container {
  position: relative;
}

.card__watermark {
  font-family: var(--accent-font), sans-serif;
  position: absolute;
  text-shadow: 0 0 white;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-size: 14px;
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.card__image_saturate {
  filter: saturate(500%);
}

.card__image_grayscale {
  filter: grayscale(0.75) contrast(0.8);
}

.card__image_hue-rotate {
  filter: hue-rotate(30deg);
}

.card__image_invert {
  filter: invert(0.8);
}

.card__image_sepia {
  filter: sepia(0.8);
}

.card__image_blur {
  filter: blur(15px);
}

.card__image_mix {
  filter: hue-rotate(90deg) contrast(.2);
}

.card__like-button {
  font-family: var(--accent-font), sans-serif;
  line-height: 90%;
  inline-size: 130px;
  block-size: 38px;
}

.card__button:hover {
  background-color: black;
  color: white;
}

.remember-section + .save-section {
  margin-block-start: 52px;
}

.save-section {
  margin-block-end: 100px;
  display: flex;
  justify-content: center;
}

@media (width >= 1440px) {
  .save-section {
    margin-block-end: 105px;
  }
}

.save-section__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
  padding: 13px 19px;
  font-size: 14px;
}

@media (width >= 1440px) {
  .save-section__button {
    padding: 14px 20px;
    flex-direction: row;
  }
}

.dialog__floppy {
  inline-size: 39px;
  block-size: 39px;
}

.save-section__floppy {
  inline-size: 28px;
  block-size: 28px;
}

@media (width >= 1440px) {
  .save-section__floppy {
    inline-size: 21px;
    block-size: 21px;
  }
}

.footer__button-image {
  block-size: 28px;
  inline-size: 28px;
}

@media (width >= 1440px) {
  .footer__button-image {
    block-size: 21px;
    inline-size: 21px;
  }
}

.button__text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
}

.dialog {
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 20px;
  row-gap: 30px;
  padding: 30px;
  border: 2px solid black;
  background-color: white;
  align-items: center;
  min-block-size: 191px;
  inline-size: 341px;
}

.dialog[open] {
  display: grid;
}

.dialog[open]::backdrop {
  backdrop-filter: blur(10px);
}

@media (width >= 1440px) {
  .dialog {
    inline-size: 353px;
  }
}

.dialog__image {
  grid-column: 1;
  grid-row: 1;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__title {
  grid-column: 2;
  grid-row: 1;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}


.dialog__button {
  grid-row: 2;
  grid-column: 1 / span 2;
  flex-wrap: nowrap;
  text-transform: uppercase;
  min-block-size: 38px;
  inline-size: 257px;
}

@media (width >= 1440px) {
  .dialog__button {
    inline-size: 293px;
  }
}

.page:has(.dialog[open]) {
  overflow: hidden;
}

@supports ((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
  .card__watermark {
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-shadow: none;
  }
}

.core {
  fill: transparent;
}

.main-body {
  fill: transparent;
}

.sparks {
  opacity: 0;
}